/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*universal styling*/

*{
font-size: 10px;
font-family: 'Noto Sans TC', sans-serif;
}

img {
    width: 100;
    height: auto;
}

a{
    text-decoration: none;
}

p{
	line-height: 1.5;
}

body {
	background-color:#4169e1;

}

#wrapper {
	background-color: #fff;
	margin: 5%;
	padding: 0.5rem;
}
/*Header*/

header {
	width: 90%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 1.5rem auto;
	font-family: 'Noto Sans TC', sans-serif;
}

.logo{
    width:60%;
	margin: 1.5rem 0;
}

/* Mobile Nav */

.burger-menu {
	cursor: pointer;
	margin: 2rem 1rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#000;
	color: #fff;
	width:4rem;
	height:2rem;
}

.toggle {
	transform: translateY(2px);
}

/* Nav */

nav{
	display:none;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 100%;
	align-items: center;

	/* transform: translateY(-3rem); */
	
}
nav a{
	text-decoration: none;
	color:  #4169e1;
}

a:hover {
	color:#000;
}

.nav-active{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	transform: translateY(0);
}

/* Main Feature */
/* 
.feature {
	text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-bottom: 0.2rem solid #4169e1;

}

.feature-text {
	color:#4169e1;
	width:100%;
	font-size: 1rem;
	padding: 1rem;
	
}

.feature h1 {
	font-size:2.5rem;
	padding: 0.5rem;
	font-weight: 900;
} */

/* Summary */

h1 {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    color:#4169e1;
	font-size:2.5rem;
    padding: 0.5rem;
    margin: 2rem auto;
	font-weight: 900;
}

article {
    display:flex;
    flex-flow: column nowrap;
    width:80%;
    margin: 2rem auto;
}

/* Testimonials */

h2 {
	font-size: 1.8rem;
	text-align: center;
	color:#4169e1;
	padding: 0.5rem 0;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 700;
	margin: 1rem auto;
	border-bottom: 0.1rem solid #4169e1;
	width: 100%;
}


.main{
	font-family: 'Noto Sans TC', sans-serif;
	width: 90%;
	margin: auto;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	
}

h4 {
	font-weight: 700;
	font-size: 1.3rem;
	margin: 1rem auto;
}

button {
	width: 50%;
	margin: 1rem;
	padding:0.5rem;
	color:  #4169e1;
	background-color: #fff;
	border: 0.2rem solid  #4169e1;
	font-size: 1.3rem;
}

button:hover {
	background-color: #4169e1;
	color: #fff;
}

.testimonial {
	width: 60%;

	margin: 0.2rem;
}

.name {
	margin-top: 1rem;
	color:  #4169e1;
}

/* Footer */

footer {
	text-align: center;
	color: #4169e1;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 100;
	margin: 3rem auto;
}

/* Tablet Size */



@media only screen and (min-width: 600px) {

	.burger-menu {
		display: none;
	}

	.nav-links {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		width: 100%;
		align-items: center;
		transform: translateY(0);
	}


}

/* Desktop Size */

@media only screen and (min-width: 900px)  {

	.main {
		display: flex;
		flex-flow: row wrap;
		align-items:baseline;
	}

    .testimonial {
		width: 30%;

	}
}